nav.navbar.navbar-toggleable-sm.navbar-inverse
  button#mobile-toggler.navbar-toggler.navbar-toggler-right(
    type="button"
    data-toggle="collapse"
    data-target="#navLinks"
    aria-controls="navLinks"
    aria-expanded="false"
    aria-label="Toggle navigation"
  )
    span.navbar-toggler-icon
  a.navbar-brand(href="/")
    img(src="/images/boweryLogo_white.png", height=75, width=75)
  #navLinks.collapse.navbar-collapse.justify-content-end
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="/", class=homeClass) Home
      li.nav-item
        a.nav-link(href="/team", class=teamClass) Team
      li.nav-item=label