#press-strip.row.align-self-center.justify-content-center
  .col-sm-10.text-center.press-strip-inner
    ul.list-unstyled As seen in
      li
        a(
          href="https://www.wsj.com/articles/new-york-real-estate-titans-eye-investments-in-tech-startups-1495278002"
          target="_blank"
        )
          img(
            src='https://mill-all.com/wp-content/uploads/2016/02/2000px-the_wall_street_journal_logo-svg-880x82.png'
            height='20'
          )
      li
        a(
          href="https://www.forbes.com/sites/navathwal/2017/03/31/6-real-estate-startups-poised-to-disrupt-the-industry/"
          target="_blank"
        )
          img(
            src='https://d2j8u9xd66z0i2.cloudfront.net/wp-content/uploads/2014/11/forbes-logo.png'
            height='20'
          )